@import './css/home.css';
@import './css/avis.css';
@import './css/loading.css';
@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
    width: 100%;
    height: 100vh;
}

.carousel-status {
    display: none;
}

.carousel {
    width: 65%;
}